@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');/* Body
Pick a nice background-color, font-family, color, font-size and line-height for the <body>. Setting these font rules at the body-level will apply them on all basic text tags (<p>, <li>, etc.). */

body {
  background-color: #f36f87;
  text-align: center;

}
.text_funky { color: rgb(254, 253, 253);
  font-family: 'Lilita One';
     font-weight: 300;
     font-size: 50px;
     margin: 10px;
}

.less_funky_text {color: rgb(254, 253, 253);
  font-family: 'Lilita One';
     font-weight: 300;
     font-size: 20px;
     margin: 10px;}

.card_funky {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 70px;
  padding: 50px;
  border: 10px dotted white;
  border-radius: 400px;

}

li {color: white;
  font-family: 'Roboto';
font-weight: 300;
  font-size: 20px;
  padding: 10px;}

.card_funky:hover {
  border-color: yellow;
}

p { color: white;
      font-family: 'Roboto';
    font-weight: 300;
      font-size: 20px;
      padding: 10px;

     }


.icons { font-size: 50px;
padding: 10px;
opacity: 0.5;
}

.icons:hover {
  cursor: pointer;
  opacity: 1;
  color: yellow;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}


#profilepic { width: 300px;
       height: 300px;
       border-radius: 150px;
       box-shadow: 0 10px 30px white;
      }


@media (max-width: 960px) {
        .container {
          width: 700px;
        }
      }

      @media (max-width: 720px) {
        /* For a screen < 720px, this CSS will be read */
        .container {
          width: 500px;
        }
      }

      @media (max-width: 540px) {
        /* For a screen < 540px, this CSS will be read */
        .container {
          width: 300px;
        }
      }
